/* Estilos para el encabezado */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  header h1 {
	margin: 0;
	font-size: 36px;
  }
  
  /* Estilos para el cuerpo principal */
  main {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
  }
  label {
	display: block;
	font-size: 18px;
	margin-top: 20px;
  }
  textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	resize: none;
  }
  button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
  }
  button:hover {
	background-color: #444;
  }
  
  /* Estilos para el pie de página */
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  footer p {
	margin: 0;
	font-size: 16px;
  }
  textarea:read-only {
	background-color: #eee;
	color: #241a1a;
	border: 1px solid #ccc;
  }
	